
<div id="header" class="col-lg-12">
    <div class="col-md-12"><h2>OUR BLOG</h2></div>
</div>


<div class="wrapper col-lg-12">
    <div class="container col-lg-6 col-lg-offset-2" style="">
        <div class=" news">
            <h2> Lorem Ipsum is simply dummy </h2>
            <ul>
                <li><i class="fa fa-user"></i>John Smith </li>
                <li><i class="fa fa-calendar"></i>04.05.2015</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comment"></i>3</a></li>
            </ul>
            <img class="img-responsive" src="images/line.png"/>
            <div class="product-img ">
                <img class="img-responsive" src="images/photo2.png" alt="" />
            </div>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="button">
                <a  href="">  <img class="img-responsive" src="images/button.png" alt=""/></a>
            </div>
        </div>
        <div class=" news">
            <h2> Lorem Ipsum is simply dummy </h2>
            <ul>
                <li><i class="fa fa-user"></i>John Smith </li>
                <li><i class="fa fa-calendar"></i>04.05.2015</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comment"></i>3</a></li>
            </ul>
            <img class="img-responsive" src="images/line.png"/>
            <div class="product-img ">
                <img class="img-responsive" src="images/photo1.png" alt="" />
            </div>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="button">
                <a  href="">  <img class="img-responsive" src="images/button.png" alt=""/></a>
            </div>
        </div>
        <div class=" news">
            <h2> Lorem Ipsum is simply dummy </h2>
            <ul>
                <li><i class="fa fa-user"></i>John Smith </li>
                <li><i class="fa fa-calendar"></i>04.05.2015</li>
                <li><a href="#"><i class="fa fa-folder-open"></i>Staff</a></li>
                <li><a href="#"><i class="fa fa-comment"></i>3</a></li>
            </ul>
            <img class="img-responsive" src="images/line.png"/>
            <div class="product-img ">
                <img class="img-responsive" src="images/photo3.png" alt="" />
            </div>

            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="button">
                <a  href="">  <img class="img-responsive" src="images/button.png" alt=""/></a>
            </div>
        </div>
    </div>


    <div ng-include="'layouts/slidbar1.html'"></div>


</div>

</body>

    <div ng-include="'layouts/footer.html'"></div>
</html>

