<div ng-include="'layouts/header.html'"></div>

<div class="slider">
    <div class="img">
        <img src="{{SITE_URL}}images/img1.jpg">
    </div>
    <div class="slider-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-6 slide-left">
                    <div>
                        <span class="tag btn-warning">APARTMENT</span> <span class="tag btn-success">SALE</span>  <span class="slide-title"> Fort Colins,Colorado USA</span>
                    </div>
                    <div class="bottom-text">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        </p>
                    </div>
                    <div class="slide-footer">
                        <div class="col-lg-9 slide-footer-inner">
                            <div class="col-lg-3 item-icon"><img src="{{SITE_URL}}images/ruler.png"> 54m</div>
                            <div class="col-lg-3 item-icon"><img src="{{SITE_URL}}images/draft.png"> 4</div>
                            <div class="col-lg-3 item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</div>
                            <div class="col-lg-3 item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</div>
                        </div>

                        <div class="col-lg-3 slide-footer-price">
                            $320 000
                        </div>
                    </div>
                    <div class="navigation">
                        <a href=""><i class="fa fa-angle-left"></i></a>
                        <a href="">+</a>
                        <a href=""><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="home-filter col-lg-12">
                    <ul class="filter-category clearfix">
                        <li><img src="{{SITE_URL}}images/buildings.png"></li>
                        <li><img src="{{SITE_URL}}images/home.png"></li>
                        <li><img src="{{SITE_URL}}images/store.png"></li>
                        <li><img src="{{SITE_URL}}images/forest.png"></li>
                    </ul>

                    <div class="home-filter-inner row">
                        <div class="col-lg-3">
                            <select class="js-example-basic-single">
                                <option value="AL">Alabama</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <select>
                                <option>asd</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <select>
                                <option>asd</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <select>
                                <option>asd</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="content">
    <div class="home-cats container">
        <div class="row">
            <div class="col-lg-3">
                <div class="home-cats-inner">
                    <div class="img-circle">
                        <img src="{{SITE_URL}}images/buildings-blue.png" data-img="{{SITE_URL}}images/buildings-hover.png">
                    </div>
                    <div class="home-cats-content">
                        <h2>Design</h2>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>

                    <div class="hover-img">
                        <img src="{{SITE_URL}}images/building-bg.jpg">
                        <div><div class="hover-blue"></div></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="home-cats-inner">
                    <div class="img-circle">
                        <img src="{{SITE_URL}}images/home-blue.png" data-img="{{SITE_URL}}images/home-hover.png">
                    </div>
                    <div class="home-cats-content">
                        <h2>PSD files</h2>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="home-cats-inner">
                    <div class="img-circle">
                        <img src="{{SITE_URL}}images/store-blue.png" data-img="{{SITE_URL}}images/store-hover.png">
                    </div>
                    <div class="home-cats-content">
                        <h2>List and grid views</h2>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="home-cats-inner">
                    <div class="img-circle">
                        <img src="{{SITE_URL}}images/forest-blue.png" data-img="{{SITE_URL}}images/forest-hover.png">
                    </div>
                    <div class="home-cats-content">
                        <h2>Project</h2>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="futures">
        <div class="futures-inner">
            <div class="container">
                <h2 class="title">Featured offers</h2>

                <div class="row">

                    <div class="col-lg-4 futured-wrap">
                        <div class="futured-item">
                            <div class="item-img">
                                <img src="{{SITE_URL}}images/futur-img1.jpg">
                            </div>

                            <div class="item-content clearfix">
                                <h3>Fort Colins,Colorado USA</h3>

                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been the industry's standard dummy text ever since the 1500s,typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </p>
                            </div>

                            <div class="item-footer clearfix">
                                <ul class="item-footer-icons clearfix">
                                    <li class="item-icon"><img src="{{SITE_URL}}images/ruler.png"> 54m</li>
                                    <li class="item-icon"><img src="{{SITE_URL}}images/draft.png"> 4</li>
                                    <li class="item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</li>
                                </ul>

                                <div class="item-footer-price">
                                    $320 000
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 futured-wrap">
                        <div class="futured-item">
                            <div class="item-img">
                                <img src="{{SITE_URL}}images/futur-img1.jpg">
                            </div>

                            <div class="item-content clearfix">
                                <h3>Fort Colins,Colorado USA</h3>

                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been the industry's standard dummy text ever since the 1500s,typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </p>
                            </div>

                            <div class="item-footer clearfix">
                                <ul class="item-footer-icons clearfix">
                                    <li class="item-icon"><img src="{{SITE_URL}}images/ruler.png"> 54m</li>
                                    <li class="item-icon"><img src="{{SITE_URL}}images/draft.png"> 4</li>
                                    <li class="item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</li>
                                </ul>

                                <div class="item-footer-price">
                                    $320 000
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 futured-wrap">
                        <div class="futured-item">
                            <div class="item-img">
                                <img src="{{SITE_URL}}images/futur-img1.jpg">
                            </div>

                            <div class="item-content clearfix">
                                <h3>Fort Colins,Colorado USA</h3>

                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                    has been the industry's standard dummy text ever since the 1500s,typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                </p>
                            </div>

                            <div class="item-footer clearfix">
                                <ul class="item-footer-icons clearfix">
                                    <li class="item-icon"><img src="{{SITE_URL}}images/ruler.png"> 54m</li>
                                    <li class="item-icon"><img src="{{SITE_URL}}images/draft.png"> 4</li>
                                    <li class="item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</li>
                                </ul>

                                <div class="item-footer-price">
                                    $320 000
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="new-listing">
        <div class="container">
            <h2 class="title title-dark clearfix">
                New listings
                <ul class="listing-cats clearfix">
                    <li>All</li>
                    <li><img src="{{SITE_URL}}images/buildings.png"></li>
                    <li><img src="{{SITE_URL}}images/home.png"></li>
                    <li><img src="{{SITE_URL}}images/store.png"></li>
                    <li><img src="{{SITE_URL}}images/forest.png"></li>
                </ul>
            </h2>
            <div class="row">


                <div class="col-lg-3 futured-wrap">
                    <div class="futured-item small-item">
                        <div class="item-img">
                            <img src="{{SITE_URL}}images/futur-img1.jpg">
                        </div>

                        <div class="small-item-content item-content clearfix">
                            <h3>Fort Colins,Colorado USA</h3>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard
                            </p>
                        </div>

                        <div class="small-item-footer-price">
                            Price:
                            <span>$320 000</span>
                        </div>
                        <div class="item-footer clearfix">
                            <ul class="item-footer-icons clearfix">
                                <li class="item-icon"><img src="{{SITE_URL}}images/ruler.png"> 54m</li>
                                <li class="item-icon"><img src="{{SITE_URL}}images/draft.png"> 4</li>
                                <li class="item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 futured-wrap">
                    <div class="futured-item small-item">
                        <div class="item-img">
                            <img src="{{SITE_URL}}images/futur-img1.jpg">
                        </div>

                        <div class="small-item-content item-content clearfix">
                            <h3>Fort Colins,Colorado USA</h3>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard
                            </p>
                        </div>

                        <div class="small-item-footer-price">
                            Price:
                            <span>$320 000</span>
                        </div>
                        <div class="item-footer clearfix">
                            <ul class="item-footer-icons clearfix">
                                <li class="item-icon"><img src="{{SITE_URL}}images/ruler.png"> 54m</li>
                                <li class="item-icon"><img src="{{SITE_URL}}images/draft.png"> 4</li>
                                <li class="item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 futured-wrap">
                    <div class="futured-item small-item">
                        <div class="item-img">
                            <img src="{{SITE_URL}}images/futur-img1.jpg">
                        </div>

                        <div class="small-item-content item-content clearfix">
                            <h3>Fort Colins,Colorado USA</h3>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard
                            </p>
                        </div>

                        <div class="small-item-footer-price">
                            Price:
                            <span>$320 000</span>
                        </div>
                        <div class="item-footer clearfix">
                            <ul class="item-footer-icons clearfix">
                                <li class="item-icon"><img src="{{SITE_URL}}images/ruler.png"> 54m</li>
                                <li class="item-icon"><img src="{{SITE_URL}}images/draft.png"> 4</li>
                                <li class="item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 futured-wrap">
                    <div class="futured-item small-item">
                        <div class="item-img">
                            <img src="{{SITE_URL}}images/futur-img1.jpg">
                        </div>

                        <div class="small-item-content item-content clearfix">
                            <h3>Fort Colins,Colorado USA</h3>

                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard
                            </p>
                        </div>

                        <div class="small-item-footer-price">
                            Price:
                            <span>$320 000</span>
                        </div>
                        <div class="item-footer clearfix">
                            <ul class="item-footer-icons clearfix">
                                <li class="item-icon"><img src="{{SITE_URL}}images/ruler.png"> 54m</li>
                                <li class="item-icon"><img src="{{SITE_URL}}images/draft.png"> 4</li>
                                <li class="item-icon"><img src="{{SITE_URL}}images/garage.png"> 1</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="home-blog">
        <div class="container">
            <h2 class="title title-dark clearfix">
                Our blog
            </h2>

            <div class="row">

                <div class="col-lg-6 no-padding">
                    <div class="blog-right">
                        <div class="col-lg-6 blog-img no-padding">
                            <img src="{{SITE_URL}}images/for-blog1.jpg">
                        </div>

                        <div class="col-lg-6 blog-content">
                            <h4 class="title title-dark inner-title">Its match ceaper to buy then to rent</h4>

                            <p class="text">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>