<div class="col-lg-2 slidbar" style="">
    <h3>CATEGORIES</h3>
    <img class="img-responsive" src="images/line2.png"/>


    <h3>FEATURED OFFERS</h3>
    <img class="img-responsive" src="images/line2.png"/>
    <div class="offers">
        <img class="img-responsive" src="images/offers.png"/>
        <div class="titel">with desktop publishing Aldus PageMaker including</div>
        <div class="pris">320.000$</div>
    </div>
    <div class="offers">
        <img class="img-responsive" src="images/offers.png"/>
        <div class="titel">with desktop publishing Aldus PageMaker including</div>
        <div class="pris">320.000$</div>
    </div>
    <div class="offers">
        <img class="img-responsive" src="images/offers.png"/>
        <div class="titel">with desktop publishing Aldus PageMaker including</div>
        <div class="pris">320.000$</div>
    </div>
    <h3>LAST NEWS</h3>
    <img class="img-responsive" src="images/line2.png"/>
    <div class="offers">
        <img class="img-responsive" src="images/lastnews.png"/>
        <div class="titel">with desktop publishing Aldus PageMaker including</div>
        <div class="date"><i class="fa fa-calendar"></i>04.05.2015</div>
    </div>
    <div class="offers">
        <img class="img-responsive" src="images/lastnews.png"/>
        <div class="titel">with desktop publishing Aldus PageMaker including</div>
        <div class="date"><i class="fa fa-calendar"></i>04.05.2015</div>
    </div>
    <div class="offers">
        <img class="img-responsive" src="images/lastnews.png"/>
        <div class="titel">with desktop publishing Aldus PageMaker including</div>
        <div class="date"><i class="fa fa-calendar"></i>04.05.2015</div>
    </div>

</div>